<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Customer Shares System</h1>
	<h2 th:text="'Shares Held by '+${customerId}"></h2>
	<table border="1">
		<tr>
			<th>Customer Name</th>
			<th>Share</th>
		</tr>
		<tr th:each="customerShare : ${customerShareList}">
			<td th:text="${customerShare.customerId}"></td>
			<td th:text="${customerShare.shareID}"></td>
		</tr>
	</table>
</body>
</html>